@import url('https://fonts.googleapis.com/css?family=Sail');
@import url('https://fonts.googleapis.com/css?family=Qwigley');
body {
    background-color: black;
}
p {
    font-family: 'Sail', cursive;
    font-size: 2em;
    color: #fff;
}
#random-quote {
    padding: 20px;
}

.author {
    font-family: 'Qwigley', cursive;
    font-size: 2rem;
    color: #bbcbd9;
    letter-spacing: 0.02em;
}
.absolute {
    position: absolute;
    top: 30%;
    width: 100%;
}

.relative {
    position:relative; 
    width:600px; 
    margin:auto;
}
.fab {
    color: #fff !important;
    display: inline-block;
    width: 30px;
    margin: 0 auto;
}

.quote-btn {
    background-color: #333;
    border-color: transparent;
}

.tweet-btn {
    background-color: #333;
    border-color: transparent !important;
}
.tweet:hover {
    background-color: #1da1f2 !important;
}