@import url('https://fonts.googleapis.com/css?family=Sail');
@import url('https://fonts.googleapis.com/css?family=Qwigley');

body {
    background-color: black;
    height: 100%;
}
p {
    font-family: 'Sail', cursive;
    font-size: 2em;
    color: #fff;
}
#random-quote {
    padding: 20px;
}

.author {
    font-family: 'Qwigley', cursive;
    font-size: 2rem;
    color: #bbcbd9;
    letter-spacing: 0.02em;
}
.quote-wrapper {
    position: absolute;
    top: 30%;
}

.quote-content {
    width: 50%;
    margin: 0 auto;
}

.fab {
    color: #fff !important;
    display: inline-block;
    width: 30px;
    margin: 0 auto;
}

.quote-btn, .tweet-btn {
    background-color: #333;
    border-color: transparent !important;
}

.tweet-btn:hover {
    background-color: #1da1f2 !important;
}
